<div class="display-container">
	<div class="slds-grid slds-gutters slds-wrap slds-p-horizontal_large">
		{{#if cities}}
			{{#each cities}}
				<div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-p-vertical_medium">
					<article id="{{cityId}}-card" class="slds-card">
						<div class="slds-card__header slds-grid">
							<header class="slds-media slds-media_center slds-has-flexi-truncate">
								<div class="slds-media__figure">
									<span class="slds-icon_container slds-icon-standard-account" title="city">
										<svg class="slds-icon slds-icon_small" aria-hidden="true">
											<use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
										</svg>
									</span>
								</div>
								<div class="slds-media__body">
									<h1 class="slds-card__header-title">
										<span class="city-name slds-text-heading_medium">{{cityName}}</span>
									</h1>
								</div>
								<div class="slds-no-flex">
									<button id="{{cityId}}" class="refresh-button slds-button slds-button_icon slds-button_icon-border-filled">
										<svg class="slds-button__icon" aria-hidden="true">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/action-sprite/svg/symbols.svg#refresh"></use>
										</svg>
										<span class="slds-assistive-text">Refresh weather for {{cityName}}</span>
									</button>
								</div>
							</header>
						</div>
						<div class="slds-card__body slds-card__body_inner">
							<div class="slds-grid slds-wrap slds-gutters">
						<!-- NOW weather -->
								<div class="slds-col slds-size_1-of-2 slds-grid slds-grid_vertical slds-border_right">
									<h2 class="slds-text-heading_large slds-text-align_center slds-border_bottom">NOW</h2> 
									<h2 class="current-temp slds-text-heading_large slds-text-align_center slds-m-top_small"> {{main.temp}}&#8457;</h2> 
									<div class="slds-grid slds-grid_align-space">
									{{#each weather}}
										<div class="slds-col slds-size_1-of-2 slds-m-vertical_x-small">
											<div class="slds-m-around_x-small">
												<div class="slds-text-align_center">
													<img src='http://openweathermap.org/img/w/{{icon}}.png' alt='{{description}}'></img>
													<p class="slds-text-heading_medium">{{description}}</p>
												</div>
											</div>
										</div>
									{{/each}}	
									</div>
								</div>
						<!--/end NOW weather-->
								<div class="slds-col slds-size_1-of-2 slds-grid slds-grid_vertical">
									<h2 class="slds-text-heading_large slds-text-align_center slds-border_bottom">TOMORROW</h2> 
									<div class="high-low-grid slds-grid ">
										<div class="high-low-val slds-col slds-size_1-of-2 slds-m-top_small"> 
											<h2 class="slds-text-title_caps slds-text-align_center">high</h2>
											<h2 class="slds-text-heading_large slds-text-align_center">
												{{forecast.1.temp.max}}&#8457;
											</h2>
										</div> 
										<div class="high-low-val slds-col slds-size_1-of-2 slds-m-top_small"> 
											<h2 class="slds-text-title_caps slds-text-align_center">low</h2>
											<h2 class="slds-text-heading_large slds-text-align_center">
												{{forecast.1.temp.min}}&#8457;
											</h2>
										</div>
									</div>
									<div class="slds-grid slds-grid_align-space">
									{{#each forecast.1.weather}}
										<div class="slds-col slds-size_1-of-2 slds-m-vertical_x-small">
											<div class="slds-m-around_x-small">
												<div class="slds-text-align_center">
													<img src='http://openweathermap.org/img/w/{{icon}}.png' alt='{{description}}'></img>
													<p class="slds-text-heading_medium">{{description}}</p>
												</div>
											</div>
										</div>
									{{/each}}	
									</div>
								</div>						
							</div>
						</div>	
					</article>
				</div>
			{{/each}}
		{{else}}
			<h1>Wat</h1>
		{{/if}}
	</div>
</div>
